<p id="notice"><%= notice %></p>

<h1 class="text-center">Course</h1>
<br>
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>
<p>
  <strong>Created by:</strong>
  <%= @course.user.name%>
</p>
<% if can? :manage, @course %>
<%= link_to 'Edit', edit_course_path(@course) %> |
  <% end %>
<%= link_to 'Back', courses_path %>
